{% if product.tags.size > 0 %}
	<div class="product-single__related-products">
		<h2>You May Also Like</h2>
		<div class="product-single__related-products__thumbnails">
		{% capture current_product %}{{ product.title }}{% endcapture %}
		{% for tag in product.tags %}
			{% capture current_tag %}{{ tag }}{% endcapture %}
			{% paginate collections.all.products by 250 %}
				{% for product in collections.all.products %}
					{% if product.title != current_product and product.tags contains current_tag %}
				  		{% include 'product-thumbnail' %}
				  	{% endif %}
				{% endfor %}
			{% endpaginate %}
		{% endfor %}
		</div>
	</div>
{% endif %}