.notification-bar {
  display: none !important;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.2rem;
}
#fs_video-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#fs_video-wrapper video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
#fs_video-wrapper #fs_video-controls {
  position: absolute;
  bottom: 15px;
  right: 25px;
}
#fs_video-wrapper #fs_video-controls button {
  width: 30px;
  background: none;
  border: 0;
  font-size: 1.25rem;
}
#fs_video-wrapper #fs_video-controls button:focus {
  outline: none;
}
#fs_video-wrapper #fs_video-controls button#fs_play,
#fs_video-wrapper #fs_video-controls button#fs_volume-on {
  display: none;
}
@media all and (max-width: 768px) {
  #fs_video-wrapper video {
    min-width: initial !important;
    min-height: initial !important;
    height: 100% !important;
    width: auto !important;
  }
}
body.template-index div[data-section-id="header"] {
  position: fixed !important;
  z-index: 10 !important;
}
body.template-index div[data-section-id="header"] .site-header {
  background: 0 !important;
}
body.template-index div[data-section-id="header"] .site-nav {
  margin-bottom: 0 !important;
}
body.template-index div[data-section-id="header"] .border-bottom {
  border-bottom: 0 !important;
}
body.template-index .main-content {
  padding-top: 0 !important;
}
@media all and (max-width: 748px) {
  .site-header {
    border-bottom: 0 !important;
  }
}
body.template-product {
  font-family: mrs-eaves, serif;
}
body.template-product .page-width {
  max-width: none !important;
  padding-left: 0 !important;
}
body.template-product .clear {
  clear: both;
}
body.template-product .fs_product-single__images {
  float: left;
  width: 60%;
}
body.template-product .fs_product-single__images--small img,
body.template-product .fs_product-single__images--big img {
  display: block;
  width: 100%;
  height: auto;
}
body.template-product .fs_product-single__images--small {
  float: left;
  width: 20%;
}
body.template-product .fs_product-single__images--small img {
  margin-bottom: 3px;
}
body.template-product .fs_product-single__images--big {
  float: left;
  width: 80%;
}
body.template-product .fs_product-single__images--big img {
  padding-left: 3px;
  margin-bottom: 3px;
}
body.template-product .fs_product-single__meta {
  float: left;
  width: 38%;
  margin-left: 2%;
/* phase out default theme classes */
}
body.template-product .fs_product-single__meta.fixed {
  position: fixed !important;
  top: 55px !important;
  right: 57px !important;
  float: none !important;
  width: 36.258% !important;
}
body.template-product .fs_product-single__meta input {
  font-family: rhode, sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
body.template-product .fs_product-single__meta select {
  border: 1px solid #000;
  border-radius: 0;
  background: url("//cdn.shopify.com/s/files/1/0267/3229/8274/t/3/assets/ico-select.svg?v=1206820173969048361") 95% center no-repeat;
  font-family: rhode, sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
body.template-product .fs_product-single__meta button {
  border: 1px solid #000;
  border-radius: 0;
  background: #000;
  font-family: rhode, sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #fff;
}
body.template-product .fs_product-single__meta .product-single__description {
  font-size: 1.75rem;
  line-height: 2rem;
}
body.template-product .fs_product-single__title,
body.template-product .fs_product-single__price {
  font-family: rhode, sans-serif;
  font-weight: lighter;
}
.product-single__related-products {
  max-width: 90%;
  margin: auto;
  overflow: auto;
}
.product-single__related-products .fs_product-thumbnail {
  width: calc(100% / 3);
  float: left;
  position: relative;
  box-sizing: border-box;
  border-right: 20px solid #fff;
}
.product-single__related-products .fs_product-thumbnail:last-of-type {
  border-right: 0;
}
.product-single__related-products .fs_product-thumbnail__image {
  width: 100%;
  padding-bottom: 150%;
  background-size: cover !important;
}
.product-single__related-products .fs_product-thumbnail__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2.5%;
  font-family: rhode, sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.product-single__related-products .fs_product-thumbnail__label--title {
  float: left;
}
.product-single__related-products .fs_product-thumbnail__label--price {
  float: right;
}
body:before {
  content: '';
  transition: 0.2s background ease-in-out;
}
body.ac_no-scroll {
  overflow: hidden;
  opacity: 0.9;
}
body.ac_no-scroll:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.7);
  width: 100%;
  height: 100vh;
  z-index: 2;
}
#cartDrawer {
  z-index: 100000000000 !important;
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  background: rgba(255,255,255,0.98);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  -webkit-transition: 0.2s right ease-in-out;
  -o-transition: 0.2s right ease-in-out;
  transition: 0.2s right ease-in-out;
  font-family: rhode, sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-size: 1rem;
}
#cartDrawer.ac_slide-in {
  right: 0 !important;
}
#cartDrawerInner {
  z-index: 1e+23 !important;
  position: relative;
  width: 100%;
  height: 100%;
}
#cartDrawerInner > button {
  height: 25px;
  width: 25px;
  padding: 0;
  border: 0;
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: rhode, sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
#cartDrawerInner > button:focus {
  outline: none;
}
#cartDrawerInner > h2 {
  padding: 5% 0;
  text-align: center;
}
#cartDrawerProducts {
  width: 100%;
  height: 70vh;
  padding: 0 20px 20px 20px;
  overflow-y: scroll;
}
.oi_cart-item img {
  width: 100%;
heightauto
}
.oi_cart-item h1 {
  margin20px: 0 10px;
}
.oi_cart-item p {
  margin: 0;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1.75rem;
  letter-spacing: 0.075rem;
}
.oi_cart-item p:nth-of-type(2) {
  margin-top: 7px;
}
.oi_cart-item .cart-drawer__qty button {
  border: 0;
  background: none;
  font-weight: 700;
}
.oi_cart-item .cart-drawer__qty button:focus {
  outline: none;
}
.oi_cart-item .cart-drawer__qty input[type="number"] {
  border: 0;
  width: 40px;
  text-align: center;
  padding: 0 0 0 15px !important;
  font-family: rhode, sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.4rem;
  background: #fff;
}
.oi_cart-item .cart-drawer__qty input[type="number"]:focus {
  outline: none;
}
.oi_cart-item button.oi_cart-item__remove {
  letter-spacing: 0.075rem;
  color: #808080;
  line-height: 17.5px;
  font-size: 12px;
  text-decoration: underline;
  padding: 0;
  border: 0;
  font-family: rhode, sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-top: 3px;
}
.oi_cart-item button.oi_cart-item__remove:focus {
  outline: none;
}
#cartDrawerContent .cart-drawer-textarea-wrap {
  position: relative;
}
.cart-drawer-textarea-wrap #oi_cart-note__save {
  position: absolute;
  right: 20px;
  top: 12px;
  background: 0;
  border: 0;
  padding: 0;
  font-family: rhode, sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.cart-drawer-textarea-wrap #oi_cart-note__save:focus {
  outline: none;
}
#cartDrawerContent textarea {
  width: 100%;
  height: 8vh;
  border: 0px;
  padding: 10px 20px;
  margin: 0px;
  color: #808080;
  z-index: auto;
  position: relative;
  transition: none 0s ease 0s;
  background: rgba(255,255,255,0.95) !important;
  resize: none;
  font-size: 1.2rem;
}
#cartDrawerContent textarea-webkit-input-placeholder {
  text-decoration: underline;
}
#cartDrawerContent textarea-moz-placeholder {
  text-decoration: underline;
}
#cartDrawerContent textarea-ms-input-placeholder {
  text-decoration: underline;
}
#cartDrawerContent textarea-moz-placeholder {
  text-decoration: underline;
}
#cartDrawerContent textarea:focus {
  outline: none;
}
input.proceedToCart {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 0;
  padding: 8% 0;
  background: #000;
  font-family: rhode, sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #fff;
}
input.proceedToCarthover {
  outline: none;
  border: 0;
  background: #000;
  color: #fff;
  text-decoration: none;
}
input.proceedToCart:focus {
  outline: none;
}
@media all and (max-width: 768px) {
  #cartDrawer {
    width: 100% !important;
    border: 0 !important;
  }
  #cartDrawerInner {
    overflow-y: scroll !important;
    padding-bottom: 100px;
  }
  #cartDrawerInner > button {
    top: 10px !important;
  }
  #cartDrawerProducts {
    height: initial !important;
    overflow-y: auto !important;
  }
  input.proceedToCart {
    position: relative;
  }
}
html,
body {
  height: 100%;
}
.f_content-block {
  overflow: auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  font-family: mrs-eaves, serif;
  font-size: 1.3rem;
  line-height: 1.3rem;
  background: #f5fbfc;
}
.f_content-block h1 {
  font-family: mrs-eaves, serif;
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 10px;
  letter-spacing: 0.1rem;
}
.f_content-block a {
  color: #fff !important;
}
.f_content-block a:hover {
  opacity: 1 !important;
}
.f_content-block .f_text-wrapper,
.f_content-block img {
  width: 50%;
  flex: 1;
}
.f_content-block .f_text-wrapper {
  position: relative;
  height: inherit;
}
.f_content-block .f_text-wrapper .f_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  max-width: 400px;
  text-align: center;
}
.f_content-block img {
  height: auto !important;
}
.f_content-block:nth-of-type(2n) .f_text-wrapper,
.f_content-block:nth-of-type(2n) img {
  align-items: flex-start;
}
.f_content-block:nth-of-type(2n) img {
  order: -1;
}
.f_content-block:nth-of-type(1) {
  background: none !important;
}
.f_content-block:nth-of-type(1) .f_text-wrapper .f_text {
  left: 5%;
  transform: translate(0, -50%);
  text-align: left;
}
.f_content-block:nth-of-type(1) .f_text-wrapper .f_text p {
  margin-left: 5px;
}
.f_content-block#f_explore-cta {
  height: 90vh;
  background-size: cover !important;
  color: #fff;
  position: relative;
}
.f_content-block#f_explore-cta:hover {
  opacity: 0.9;
  transition: 0.2s opacity ease-in;
}
.f_content-block#f_explore-cta h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  font-size: 5rem;
  font-weight: 400;
  text-shadow: 0 0 23px #000;
  margin-bottom: 0;
}
#fs_video-wrapper {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}
#fs_video-wrapper--half {
  position: relative;
  width: 50%;
  height: 75vh;
  overflow: hidden;
}
#fs_video-wrapper video,
#fs_video-wrapper--half video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
@media all and (max-width: 768px) {
  .f_content-block {
    font-size: 1rem !important;
    line-height: 1rem !important;
  }
  .f_content-block:first-of-type h1 {
    font-size: 2rem !important;
    margin-left: 5px !important;
    width: 75% !important;
  }
  .f_content-block img {
    height: auto !important;
  }
  .f_content-block #fs_video-wrapper {
    height: 25vh !important;
  }
}
