body
	&.template-index
		div
			&[data-section-id="header"]
				position fixed !important
				z-index 10 !important
					
				.site-header
					background 0 !important
				
				.site-nav
					margin-bottom 0 !important
				
				.border-bottom
					border-bottom 0 !important
					
		.main-content
			padding-top 0 !important

@media all and (max-width: 748px)
	.site-header
		border-bottom 0 !important