body
	&.template-product
		.page-width
			max-width none !important
			padding-left 0 !important
			padding-right 0 !important
			
		.clear
			clear both
				
		.fs_product-single
			&__images
				float left
				width 60%
				
				&--small,
				&--big
					img
						display block
						width 100%
						height auto
				
				&--small
					float left
					width 20%
					
					img
						margin-bottom 3px
				
				&--big
					float left
					width 80%
					
					img
						padding-left 3px
						margin-bottom 3px
			
			&__meta
				float left
				width 40%