body.template-product .page-width {
  max-width: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
body.template-product .clear {
  clear: both;
}
body.template-product .fs_product-single__images {
  float: left;
  width: 60%;
}
body.template-product .fs_product-single__images--small img,
body.template-product .fs_product-single__images--big img {
  display: block;
  width: 100%;
  height: auto;
}
body.template-product .fs_product-single__images--small {
  float: left;
  width: 20%;
}
body.template-product .fs_product-single__images--small img {
  margin-bottom: 3px;
}
body.template-product .fs_product-single__images--big {
  float: left;
  width: 80%;
}
body.template-product .fs_product-single__images--big img {
  padding-left: 3px;
  margin-bottom: 3px;
}
body.template-product .fs_product-single__meta {
  float: left;
  width: 40%;
}
