body.template-product {
  font-family: $serif;
}
body.template-product .page-width {
  max-width: none !important;
  width: 95% !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
body.template-product .clear {
  clear: both;
}
body.template-product .fs_product-single__images {
  float: left;
  width: 60%;
}
body.template-product .fs_product-single__images--small img,
body.template-product .fs_product-single__images--big img {
  display: block;
  width: 100%;
  height: auto;
}
body.template-product .fs_product-single__images--small {
  float: left;
  width: 20%;
}
body.template-product .fs_product-single__images--small img {
  margin-bottom: 3px;
}
body.template-product .fs_product-single__images--big {
  float: left;
  width: 80%;
}
body.template-product .fs_product-single__images--big img {
  padding-left: 3px;
  margin-bottom: 3px;
}
body.template-product .fs_product-single__meta {
  float: left;
  width: 38%;
  margin-left: 2%;
/* phase out default theme classes */
}
body.template-product .fs_product-single__meta--fixed {
  position: fixed !important;
  top: 55px !important;
  right: -100% !important;
  width: 36.1% !important;
  opacity: 1 !important;
}
body.template-product .fs_product-single__meta--fixed.slide-in {
  right: 5% !important;
}
body.template-product .fs_product-single__meta select {
  border: 1px solid #000;
  border-radius: 0;
  background: url("//cdn.shopify.com/s/files/1/0267/3229/8274/t/3/assets/ico-select.svg?v=1206820173969048361") 95% center no-repeat;
}
body.template-product .fs_product-single__meta button {
  border: 1px solid #000;
  border-radius: 0;
  background: #000;
  color: #fff;
}
body.template-product .fs_product-single__meta .product-single__description p,
body.template-product .fs_product-single__meta .product-single__description span,
body.template-product .fs_product-single__meta .product-single__description strong {
  font-size: 1.75rem !important;
  line-height: 2rem !important;
}
@media all and (max-width: 768px) {
  body.template-product .page-width {
    width: 100% !important;
  }
  body.template-product .page-width .fs_product-single__images {
    float: none !important;
    width: 100%;
  }
  body.template-product .page-width .fs_product-single__images--small {
    display: none !important;
  }
  body.template-product .page-width .fs_product-single__images--big {
    width: 100% !important;
    height: 60vh;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden !important;
  }
  body.template-product .page-width .fs_product-single__images--big img {
    display: inline-block;
    height: 100%;
    width: auto;
    vertical-align: top;
  }
  body.template-product .page-width .fs_product-single__images--big img:first-of-type {
    padding-left: 0;
  }
  body.template-product .page-width .fs_product-single__meta {
    float: none !important;
    width: 95% !important;
    margin: auto !important;
    opacity: 1 !important;
  }
  body.template-product .page-width .fs_product-single__meta--fixed {
    display: none !important;
  }
  body.template-product .page-width .fs_product-single__title {
    margin-top: 20px !important;
  }
}
