.product-single__related-products {
  position: fixed;
  left: 0;
  bottom: -100%;
  width: 100vw;
  z-index: 3;
  background: #000;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.1);
  transition: 0.2s bottom ease-in-out;
}
.product-single__related-products.slide-in {
  bottom: 0;
}
.product-single__related-products h2 {
  margin: 10px;
  font-size: 2rem;
  color: #fff;
}
.product-single__related-products .product-single__related-products__thumbnails {
  overflow-x: scroll;
  white-space: nowrap;
}
.product-single__related-products .product-single__related-products__thumbnails .fs_product-thumbnail {
  width: calc(100% / 5);
  display: inline-block;
  position: relative;
  margin-bottom: -3px;
}
.product-single__related-products .product-single__related-products__thumbnails .fs_product-thumbnail__image {
  width: 100%;
  padding-bottom: 125%;
  background-size: cover !important;
}
.product-single__related-products .product-single__related-products__thumbnails .fs_product-thumbnail__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2.5%;
  background: #fff;
  opacity: 1 !important;
}
.product-single__related-products .product-single__related-products__thumbnails .fs_product-thumbnail__label--title,
.product-single__related-products .product-single__related-products__thumbnails .fs_product-thumbnail__label--price {
  margin-bottom: 0;
}
@media all and (max-width: 768px) {
  .product-single__related-products h2 {
    font-size: 1.2rem !important;
  }
  .product-single__related-products .product-single__related-products__thumbnails .fs_product-thumbnail {
    width: calc(100% / 2.5) !important;
  }
  .product-single__related-products .product-single__related-products__thumbnails .fs_product-thumbnail__label {
    display: none !important;
  }
}
