.product-single__related-products {
  max-width: 90%;
  margin: auto;
  overflow: auto;
}
.product-single__related-products .fs_product-thumbnail {
  width: calc(100% / 3);
  float: left;
  position: relative;
  box-sizing: border-box;
  border-right: 20px solid #fff;
}
.product-single__related-products .fs_product-thumbnail:last-of-type {
  border-right: 0;
}
.product-single__related-products .fs_product-thumbnail__image {
  width: 100%;
  padding-bottom: 150%;
  background-size: cover !important;
}
.product-single__related-products .fs_product-thumbnail__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2.5%;
}
.product-single__related-products .fs_product-thumbnail__label--title {
  float: left;
}
.product-single__related-products .fs_product-thumbnail__label--price {
  float: right;
}
