$serif = mrs-eaves, serif
$sans_serif = rhode, sans-serif

html
	font-size 62.5%

body
	font-size 1.2rem

heading() {
	font-family $sans_serif
	font-weight lighter
}

/* color and size variables? */
label() {
	font-family $sans_serif
	font-weight lighter
	font-size 1.2rem
	line-height 1.4rem
}

serif() {
	font-family $serif !important
}